:root {
  --grey-10: #EDE8E5;
  --grey-20: #CAC2BB;
  --grey-40: #9D958E;
  --grey-70: #746E68;
  --grey-90: #1F1E1A;
  --green-20: #BCD2D1;
  --green-40: #6EABA7;
  --green-70: #26847E;
  --orange-20: #E3CDBF;
  --orange-40: #D29B7B;
  --orange-70: #C65716;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--grey-90);

  --card-width: 17.5rem;
}

.header, h1 {
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  color: var(--grey-40);
}

.medium-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.page__background{
  display: block;
  background-image: url(images/Background\ -\ mobile.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.page__container{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  margin: 1.5rem 0;
  text-shadow: -2px -2px 5px var(--grey-90),
               -2px 2px 5px var(--grey-90),
                2px -2px 5px var(--grey-90),
                2px 2px 5px var(--grey-90);
}
.header__description {
  margin: 0;
  position: relative;
  color: var(--grey-40);
  bottom: 0;
}

/* Cards */
.card{
  background-color: var(--grey-10);
  position: relative;
  margin: 0.25rem 0;
  border-radius: 1.75rem;
  padding: 1rem;
  width: 17.5rem;
  box-shadow: 2px 2px 5px var(--grey-90);

}

.home{
  bottom: calc(calc(100vw - 19rem) / 2);
  width: 16.5625rem;
  height: auto;
  border-radius: 2.625rem;
}
