:root {
  --grey-10: #EDE8E5;
  --grey-20: #CAC2BB;
  --grey-40: #9D958E;
  --grey-70: #746E68;
  --grey-90: #1F1E1A;
  --green-20: #BCD2D1;
  --green-40: #6EABA7;
  --green-70: #26847E;
  --orange-20: #E3CDBF;
  --orange-40: #D29B7B;
  --orange-70: #C65716;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

#background-img{
  display: block;
  background-image: url(images/pexels-jan-kopřiva-5756722.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;  
}

#page-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header, h1 {
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  color: var(--grey-40);
}

#page-header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  width: 92vw;
  height: 8rem;
  left: 24px;
  top: 14px;
}

#header-description {
  display: flex;
  margin: 0;
  margin-bottom: 3rem;
  position: relative;
  color: var(--grey-40);
  bottom: 0;
}

#info{
  overflow:scroll
}

.xl-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;  
  color: var(--grey-90);
}

.large-text, b {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  align-items: center;  
  color: var(--grey-90);
  margin: 0;
}


.medium-underlined-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: var(--grey-90);
  margin: 0;
}

.medium-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--grey-90);
}

.small-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: var(--grey-90);
}

.tile{
  background-color: var(--grey-10);
  position: relative;
  margin: 0.25rem 2rem;
  border-radius: 1.75rem;
  padding: 1rem;
  width: 19.5rem;
}

#upload-tile{
  bottom: calc(calc(100vw - 22.5625rem) / 2);
  width: 16.5625rem;
  height: auto;
  border-radius: 2.625rem;
}

#load-another{
  background-color: var(--grey-40);
}

#upload-group{
  display: grid;
  grid-template-areas: 
    "upload-btn upload-text"
    "upload-btn upload-undertext"
    "empty      upload-error"
    "empty      upload-error-hint";
  grid-template-columns: 2.5rem auto;
  grid-template-rows: 1.5rem 1rem 2.625rem 1.375rem;
  gap: 0 1rem;
  margin: 3rem auto 0 auto;
}

#go-back-group{
  display: grid;
  grid-template-areas: 
    "go-back-btn go-back-text";
  grid-template-columns: 2.5rem auto;
  grid-template-rows: 2.5rem;
  gap: 0 1rem;
  margin: 0 auto;
}

.map{
  background-image: url(./images/map.png);
  background-size: cover;
  width: 18.5rem;
  height: 19.5rem;
  border: 0.5rem solid var(--grey-10);
}

.button{
  height: 2.5rem;
  width: 2.5rem;
  border: 0px;
  border-radius: 1.25rem;
  background-color: var(--green-70);
  font-size: 2.25rem;
  font-weight: 300;
  color: var(--grey-10);
}

#go-back-btn{
  background-color: var(--grey-20);
  color: var(--grey-40);
}

#go-back-text{
  color: var(--grey-70);  
}

#upload-error {
  position: relative;
  color: var(--orange-70);
  font-weight: 700;
  z-index: 2;
}

#upload-error-hint {
  position: relative;
  bottom: 0;
  display: inline-block;
  background-color: var(--grey-10);
  color: var(--green-70);
  font-weight: 700;
  margin: 0;
  transform: translateY(0.25rem);
}

article > footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--grey-20);
  padding: 1.75rem;
  border-radius: 1.75rem;
}

.gpx-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey-10);
  justify-content: space-around;
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: var(--grey-20);
  padding: 0.25rem;
  border-radius: 0.8125rem;
  z-index: 1;
}

.gpx-icon{
  object-fit: cover;
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  z-index: 10;
}

#data-cluster {
  display: flex;
  gap: 1em;
}


#analysis-tile {
  display: none;
}

