body {
  font-family: 'Poppins', sans-serif;
}

#data-cluster {
  display: flex;
  gap: 1em;
}

.data-container {
  height: 500px;
  display: block;
  width: 50vw;
  overflow: scroll;
}

h1 {
  font-size: 2rem;
}