/* For debugging only */
/* *{
  outline: 1px solid red;  
} */

/* Global Styles */
:root {
  --grey-10: #EDE8E5;
  --grey-20: #CAC2BB;
  --grey-40: #9D958E;
  --grey-70: #746E68;
  --grey-80: #3f3c3a;
  --grey-90: #1F1E1A;
  --green-20: #BCD2D1;
  --green-40: #6EABA7;
  --green-70: #26847E;
  --orange-20: #E3CDBF;
  --orange-40: #D29B7B;
  --orange-70: #C65716;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--grey-80);  

  --card-width: 17.5rem;
  --header-font-size: 3rem;
  --medium-font-size: 0.75rem;
  --header-height: calc(2 * var(--header-font-size) + var(--medium-font-size));
  --outer-margin: 4rem;
}

/* Text Styles */
.header, h1 {
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: var(--header-font-size);
  line-height: 1;
  margin: 0;
  color: var(--grey-40);
}
.xl-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;  
}
.large-text, b {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  align-items: center;  
  margin: 0;
}
.medium-underlined-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  margin: 0;
}
.medium-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: var(--medium-font-size);
  line-height: 18px;
  display: flex;
  align-items: center;
}

.small-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-decoration: 0;
}
.text--lighter{
  color: var(--grey-70);
}
.no-margin{
  margin: 0;
}

/* Page */
.no-click{
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}
.page__container{
  background-color: var(--grey-90);
  background-image: url(images/Background-mobile-small.jpg);
  background-position: 50% 50%;
  background-size: cover;
  /* position: absolute; */

  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
a {
  text-decoration: 0;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  margin: calc(0.5 * var(--header-font-size)) 0;
  text-shadow: -2px -2px 5px var(--grey-90),
               -2px 2px 5px var(--grey-90),
                2px -2px 5px var(--grey-90),
                2px 2px 5px var(--grey-90);
}
.header__description {
  margin: 0;
  position: relative;
  color: var(--grey-40);
  bottom: 0;
}

/* Cards */
.card{
  background-color: var(--grey-10);
  position: relative;
  margin: 0.25rem 0;
  border-radius: 1.75rem;
  padding: 1rem;
  width: 17.5rem;
  box-shadow: 2px 2px 5px var(--grey-90);
  z-index: 1;
}
.card--inner{
  border-radius: 1rem;
  max-width: 100%;
  margin: 0;
  background-color: var(--grey-20);
  padding: 0.5rem;
}
.card--inner + .card--inner{
  margin-top: 0.75rem;
}
.card--dark{
  background-color: var(--grey-40);
}

/* Buttons */
.button{
  height: 2.5rem;
  width: 2.5rem;
  border: 0px;
  border-radius: 1.25rem;
  background-color: var(--green-70);
  font-size: 2.25rem;
  font-weight: 300;
  color: var(--grey-10);
}
.button--dark{
  background-color: var(--grey-20);
  color: var(--grey-40);
}
.button--small{
  scale: 60%;
  transform-origin: top left;
}

/* Home Page Elements */
.home{
  bottom: calc(calc(100vw - 19rem) / 2);
  width: 16.5625rem;
  height: auto;
  border-radius: 2.625rem;
}
.home__upload{
  display: grid;
  grid-template-areas: 
    "upload-btn upload-text"
    "upload-btn upload-undertext"
    "empty      upload-error"
    "empty      upload-error-hint";
  grid-template-columns: 2.5rem auto;
  grid-template-rows: 1.5rem 1rem 2.625rem 1.375rem;
  gap: 0 1rem;
  margin: 3rem auto 0 auto;
}

.upload__error {
  position: relative;
  white-space: nowrap;
  color: var(--orange-70);
  font-weight: 700;
  z-index: 2;
}
.upload__hint {
  position: relative;
  bottom: 0;
  display: inline-block;
  background-color: var(--grey-10);
  margin: 0;
  transform: translateY(0.25rem);
}

.home__examples{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--grey-20);
  padding: 1.75rem;
  border-radius: 1.75rem;
}
.example-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey-10);
  justify-content: space-around;
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: var(--green-70);
  padding: 0.25rem;
  border-radius: 0.8125rem;
  z-index: 1;
}
.thumbnail{
  object-fit: cover;
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  z-index: 10;
  pointer-events: none;
}
.example-name{
  pointer-events: none;
}

/* Info Page Elements */
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__load-panel{
  margin: 0;
}
.input-group{
  display: grid;
  grid-template-areas: 
    "button  text";
  grid-template-columns: 2.5rem auto;
  grid-template-rows: 2.5rem;
  gap: 0 1rem;
  margin: 0 auto;
}
.power__input{
  grid-template-columns: 1.5rem auto;
  grid-template-rows: 1.5rem;
  gap: 0.5rem;
}
.power__input + .power__input{
  margin-top: 0.25rem;
}

.stats__stats{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats__header{
  margin-top: 0;
}

.stats__map{
  /* height: 100px;
  width: 100px; */
  width: calc(var(--card-width) - 1rem);
  height: calc(var(--card-width) - 1rem);
  border: 0.5rem solid var(--grey-10);
}

.graph-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.graph-panel > article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 1.5rem;

}
.graph-panel > .graph__elevation > div,
.graph-panel > .graph__speed > div
{
  flex-grow: 1;
  max-height: calc(var(--card-width) * 0.7);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}
.graph__header{
  justify-content: center;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}
.graph{
  width: 100%;
}
.ct-series-a .ct-line.ct-line,
.ct-series-a .ct-point.ct-point {
  stroke: var(--orange-70);
}
.ct-series-a .ct-area.ct-area{
  fill: var(--orange-40);
  fill-opacity: 1;
}
/* #graph__gradients > svg > g > path {
  stroke: green;
} */
#graph__gradients > svg > .ct-series-a > path {
  stroke: var(--grey-10);
}
#graph__gradients > svg > .ct-series-b > path {
  stroke: var(--orange-20);
}
#graph__gradients > svg > .ct-series-c > path {
  stroke: var(--orange-40);
}
#graph__gradients > svg > .ct-series-d > path {
  stroke: var(--orange-70);
}
/* #graph__gradients > svg > g > path:hover {
  color: var(--green-70) !important;
  opacity:0;
  transition: opacity 0.2s;
} */
#graph__gradients > svg > g > text {
  opacity: 0;
}
#graph__gradients:hover > svg > g > text {
  opacity: 1;
  transition: opacity 0.2s;
  text-shadow: 1px 1px 0 var(--grey-10);
}

/* Scrollbars */
.scrollable::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  border-radius: 8px;
  background-color: var(--grey-10);
}
.scrollable::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: var(--grey-20);

}
.scrollable::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
  background-color: var(--grey-20);
}

/* Footer */
.footer{
  margin: 2rem 0;
  bottom: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
}
.footer__photo-credit, .footer__webdesign-credit{
  color: var(--grey-40);
  text-shadow: -2px -2px 5px var(--grey-90),
               -2px 2px 5px var(--grey-90),
                2px -2px 5px var(--grey-90),
                2px 2px 5px var(--grey-90);
}

/* Media Queries */
/* Mobile */
@media (max-width: 767px) {  
  .page__container{
    align-items: center;
  }
  .home{
    top: 0;
    margin: auto 0 auto 0;
  }  
}

/* Tablet & Large phones in horizontal mode */
@media (min-width:768px) and (max-width: 1535px) and (min-aspect-ratio: 1/1) {
  :root{
    --outer-margin: 2rem;
  }

  .page__container{
    background-image: url(images/Background\ -\ mobile.jpg);
    align-items: flex-start;
  }
  .header{
    margin-left: var(--outer-margin);
  }
  .home{
    top: 0;
    margin: auto 0 auto var(--outer-margin);
  }
  .card {
    width: calc(var(--card-width) - 1.375rem);
  }
  .info{
    margin: auto var(--outer-margin) auto var(--outer-margin);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    flex-grow: 1;

  }
  .info__load-panel{
    position: absolute;
    top: 1.5rem;
    right: var(--outer-margin);
  }
  .info__stats-panel{
    box-shadow: 2px 2px 5px var(--grey-90);
    display: flex;
    flex-grow: 1;
    width: calc(100vw - calc(2 * var(--outer-margin)) - 2rem);
    height: calc(100vh - var(--header-height) - 2rem - 0.5rem - 2rem);

    background: var(--grey-10);
    padding: 1em;
    border-radius: 2.625rem;
  }
  .info__stats-panel > * {
    box-shadow: none;
    border: 1px solid var(--grey-20);
    z-index: 1;
    overflow-y: auto;
  }
  .stats__map{
    flex-grow: 1;
    height: auto;
    order: 1;
    overflow-y: hidden;
  }
  .graph-panel{
    order: 2;
    z-index: 1;
  }
  .footer{
    width: calc(100vw - calc(2 * var(--outer-margin)));
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--outer-margin);
    justify-content: space-between;
  }
}

/* Tablet in vertical mode */
@media (min-width:768px) and (max-width: 1535px) and (max-aspect-ratio: 1/1) {
  :root{
    --outer-margin: 2rem;
  }

  .page__container{
    background-image: url(images/Background\ -\ mobile.jpg);
    align-items: flex-start;
  }
  .header{
    margin-left: var(--outer-margin);
  }
  .home{
    top: 0;
    margin: auto 0 auto var(--outer-margin);
  }
  .card {
    width: calc(var(--card-width) - 1.375rem);
  }
  .info{
    margin: auto var(--outer-margin) auto var(--outer-margin);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    flex-grow: 1;
  }
  .info__load-panel{
    position: absolute;
    top: 1.5rem;
    right: var(--outer-margin);
  }
  .info__stats-panel{
    box-shadow: 2px 2px 5px var(--grey-90);
    /* display: flex; */
    display: grid;
    grid-template-areas: 
        "stats map"
        "stats graph";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto calc(var(--card-width) * 0.7 + 3.5rem);
    /* flex-grow: 1; */
    width: calc(100vw - calc(2 * var(--outer-margin)) - 2rem);
    height: calc(100vh - var(--header-height) - 2rem - 0.5rem - 2rem);

    background: var(--grey-10);
    padding: 1em;
    border-radius: 2.625rem;    
  }
  .info__stats-panel > * {
    box-shadow: none;
    border: 1px solid var(--grey-20);
    z-index: 1;
    overflow-y: auto;
  }
  .stats__stats{
    grid-row: stats;
    grid-column: stats;
  }
  .stats__map{
    grid-row: map;
    grid-column: map;
    width: auto;

    flex-grow: 1;
    height: auto;
    overflow-y: hidden;
  }
  .graph-panel{
    grid-row: graph;
    grid-column: graph;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    width: auto;
    z-index: 1;
    overflow-y: hidden;

  }
  .graph-panel > article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 0;
    min-width: calc(var(--card-width) * 0.7);
    height: calc(var(--card-width) * 0.7);
    margin-top: 0 !important;
  }
  .footer{
    width: calc(100vw - calc(2 * var(--outer-margin)));
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--outer-margin);
    justify-content: space-between;
  }
}

/* Large desktop */
@media (min-width: 1536px) {
  :root {
    --outer-margin: 6rem;
  }
  .page__container{
    background-image: url(images/Background\ -\ desktop.jpg);
    align-items: flex-start;
  }
  .header{
    margin-left: var(--outer-margin);
  }
  .home{
    top: 0;
    margin: auto 0 auto var(--outer-margin);
  }
  .card {
    width: calc(var(--card-width) - 1.375rem);
  }
  .info{
    margin: auto var(--outer-margin) auto var(--outer-margin);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    flex-grow: 1;

  }
  .info__stats-panel{
    box-shadow: 2px 2px 5px var(--grey-90);
    display: flex;
    flex-grow: 1;
    width: calc(calc(100vw - (var(--card-width))) - 1rem - calc(2 * var(--outer-margin)) - 2rem - 2rem);
    height: calc(100vh - 2 * var(--header-height) - 2rem - 0.5rem);

    background: var(--grey-10);
    padding: 1em;
    border-radius: 2.625rem;
  }
  .info__stats-panel > * {
    box-shadow: none;
    border: 1px solid var(--grey-20);
    z-index: 1;
    overflow-y: auto;
  }
  .stats__map{
    flex-grow: 1;
    height: auto;
    order: 1;
    overflow-y: hidden;
  }
  .graph-panel{
    order: 2;
    z-index: 1;
  }
  .footer{
    width: calc(100vw - calc(2 * var(--outer-margin)) - 1.25rem);
    margin-left: var(--outer-margin);
    justify-content: space-between;
  }
}

